<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Vantage</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="vantagetitle">
            <p class="site-title"><img style="padding-top:0px;padding-left:5px;padding-right:5px;" src="../../Images/logo.gif" />@Html.ActionLink("Vantage Application", "Index", "Home")</p>
        </div>

    </header>

    <div class="vantagenav">
        <nav>
            <ul id="van_menu">
                
            </ul>
        </nav>

    </div>
        <div>
            @RenderBody()
        </div>

    
        <footer>
                <div class="vantagefooter">
                    <p>&copy; @DateTime.Now.Year - Vantage Google Assistant Application</p>
                </div>
        </footer>
</body>
</html>
